# macOS specific files
.DS_Store
.env
*.bak
notes.sh
.ansible
act/
clab/
temp/
core.*
/avd/
temp/
__pycache__/
*.log
secrets.yml
*/cvaas-token.tok
.vscode/
*.log
act_connections/
act_topgen/
cvaas-token.tok
.gitmodules
common/playbooks/agni_certificates/
common/playbooks/tls_certificates/
*.code-workspace
labs/*
!labs/.gitkeep
core
.env_GH