[submodule "labs/wdion-l3l2-lab"]
	path = labs/wdion-l3l2-lab
	url = https://github.com/wdion-arista/wdion-l3l2-lab.git
[submodule "labs/wrdion-servers"]
	path = labs/wrdion-servers
	url = https://github.com/wdion-arista/wrdion-servers.git
[submodule "labs/demo-ssu"]
	path = labs/demo-ssu
	url = https://github.com/wdion-arista/demo-ssu.git
[submodule "labs/MandE"]
	path = labs/MandE
	url = https://github.com/wdion-arista/MandE.git
[submodule "common/scripts/pwcrypt"]
	path = common/scripts/pwcrypt
	url = https://gitlab.com/ddella/pwcrypt.git
