# ENV file for Project
# Replace XXXXXXXX with correct values from API

# Internal Arista ACT API Token
export CE_ACT_APKEY="XXXXXXXX"
export PROJECT_NAME=MandE-Test
export PROJECT_DESCIPTION="Multicast RED BLUE PURPLE"
export ACT_PATH="act"
export ACT_OUTPUT_PATH="documentation/images"
export DIAGRAM_SITES="SITE1=Site1,SITE2=Site2"


# wrdion-lab
export CVAAS_SERVER_LAB="www.cv-prod-na-northeast1-b.arista.io"
export CVAAS_TOKEN_LAB="XXXXXXXXX"
# canada_NE
export CVAAS_SERVER_PROD="www.cv-prod-na-northeast1-b.arista.io"
export CVAAS_TOKEN_PROD="XXXXXXXXX"
# Local CVP Server
export CVP_SERVER="10.0.0.100"
export CVP_TOKEN_LAB="XXXXXXXXX"

# Password for Devices
export LABPASSPHRASE=""
# "sub_groups" or "default"
export INVENTORY_TYPE="default" 

export GLOBAL_VARS_ON=true
export GLOBAL_VARS_FILE="global_vars/global_dc_vars.yml"

# Arista.com Profile API
export ARISTA_TOKEN="XXXXXXXXX"

# Downloaded image for ceos contanerlabs
export CEOS_ARM_IMAGE="4.35.0F"

# export FABRIC_NAME=""
# export FABRIC_NAME_UPPER="false"
