[defaults]
# Generic settings
host_key_checking = False
inventory =./inventory.yml
jinja2_extensions =  jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n
gathering = explicit
retry_files_enabled = False
duplicate_dict_key = error
#vault_password_file = ../vault_password.txt
# enable_plugins = community.general.env, arista.avd.global_vars, host_group_vars
vars_plugins_enabled = arista.avd.global_vars, host_group_vars
# Custom Paths
roles_path = ~/.ansible/roles/
# collections_paths = ~/./ansible_collections:../ansible-avd/ansible_collections:/operations/ansible_collections:

# Increase forks
forks = 8

# Enable the YAML callback plugin.
# stdout_callback = community.general.yaml
stdout_callback = default
result_format = yaml

# Enable the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
callbacks_enabled = profile_roles, profile_tasks, timer

# Warning management
# command_warnings=False
# interpreter_python=auto_silent
deprecation_warnings = False
# Only for debugging
# enable_task_debugger = True

interpreter_python = /usr/bin/python3

#display_ok_hosts = False
#display_skipped_hosts = False

#define global vars path
[vars_global_vars]
paths = "../../global_vars/"

[persistent_connection]
connect_timeout = 60
command_timeout = 120

[paramiko_connection]
# Automatically add the keys of target hosts to known hosts
host_key_auto_add = True




# Disable cowsay (Why?)
nocows = True
