python-dotenv
ansible-lint
argcomplete
pyinputplus
git+https://github.com/wdion-arista/eos-downloader.git
anta[cli]==1.8.0
passlib
ansible-pylibssh
cloudvision==1.25.1
grpcio>=1.53.0
protobuf>=5.28.3,<6.0dev
requests>=2.20.1
cryptography==44.0.2
